.list_friends {
	width: 100%;
	overflow-y: scroll;
	height: 260px;
}
.card_friend {
	border: 1px solid black;
	display: inline-block;
	padding: 10px 15px;
	text-align: center;
	margin: 5px;
}

.btn_sent_email {
	margin: 5px;
    background: #1676f3;
    color: #f0f0f0;
}

.btn_look_profile {
	background-color: #420f0f;
    color: #f0f0f0;
}